
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 1000;
  background: #000;
  background: linear-gradient(to top, rgb(0, 0, 0),rgb(53, 64, 79));
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  min-width: auto;
  height: 100%;
}
.nav-container{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav a {
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  color: var(--text-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: color 0.3s;

}
.search-icon{
  width: auto;
  height: auto;
}
.nav a:hover {
  color: var(--accent-blue);
}
 
.cta-button {
  background: var(--accent-blue);
  color: var(--text-white);
  padding: 1rem 1.2rem;
  border-radius: 12px;
  font-family: var(--font-alt);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  gap: 16px;
  white-space: nowrap;
}

.cta-button:hover {
  background: #008bc7;
}
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger span {
    width: 24px;
    height: 2px;
    background: var(--text-white);
  }
  
  @media (max-width: 1024px) {
    .nav-container {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: left;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.background-image-container {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.hero-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(0.8); 
}

.overlay {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.3) 90%, rgba(141, 230, 254, 0.3) 100%);
}

.hero-content {
  position: absolute;
  z-index: 1;
  max-width: 900px;
  padding: 0 40px;
  margin-right: auto; 
  left: 15rem;
  top: 21rem;
  left: 14%;
  top: 38%;
}

.hero-title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight:400;
  font-size: clamp(2rem, 4vw, 4.5rem);
}

.hero-title .highlight {
  color: #ffc107;
}

.hero-subtitle {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  line-height: 1.2;
  letter-spacing: 0%;
  color: #c5d0db;
  margin-bottom: 3rem;
}

.hero-subtitle .highlight {
  color: #ffc107;
  font-weight: bold;
}

.hero-buttons {
  display: flex;
  gap: 1.5rem;
}

.get-started-btn {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--font-caveat);
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.get-started-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffc107;
  border-color: #ffc107;
}

.book-a-demo-btn {
  background-color: #ffc107;
  color: #1a237e;
  padding: 1.5rem 2.5rem;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-a-demo-btn:hover {
  background-color: #e0a800;
}

.navigation-arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  z-index: 2;
}

.arrow {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 20%;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.scroll-down {
  position: absolute;
  bottom: 50px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform-origin: bottom right;
  z-index: 2;
}
.scroll-down span{
  transform: rotate(90deg);
  margin-top: 40px;
  font-size: 0.6rem;
}

.scroll-arrow {
  font-size: 1.5rem;
  line-height: 0.5;
  margin-top: 5px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(1px); }
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero-content {
    margin-left: 5%;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
    text-align: center;
  }
  .hero-subtitle {
    text-align: center;
  }
  .hero-content {
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  .hero-buttons {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .get-started-btn, .book-a-demo-btn {
    width: 80%;
    max-width: 300px;
  }
  .navigation-arrows {
    padding: 0 10px;
  }
  .arrow {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  .scroll-down {
    display: none;
  }
}
  


  