@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* App.css */
:root {
  --font-main: 'DM Sans', sans-serif;
  --font-alt: 'Inter', sans-serif;
  --font-caveat: 'Caveat', Caveat;
  /* Color Palette */
  --bg-primary:#FFFEFA;
  --bg-secondary: #101E49;
  
  /* text */
  --text-white: #ffffff;
  --text-color:#2A2A2A;
  --primary-dark: #2d3748;
  --primary-blue: #032D60;
  --light-blue: #ebf8ff;

  --accent-blue: #00A0E3;
  --accent-yellow: #ffbf36;
  --accent-light: #4299e1;

  --gray-light: #f7fafc;
  --gray-medium: #e2e8f0;
  --gray-dark: #4a5568;
  --text-dark: #2d3748;
  --text-medium: #4a5568;
  --text-light: #718096;
  --success: #38a169;
  --warning: #ed8936;
  
  /* Gradients */
  --gradient-primary: linear-gradient(135deg, #1a365d 0%, #3182ce 100%);
  --gradient-blue: linear-gradient(135deg, #3182ce 0%, #4299e1 100%);
  --gradient-light: linear-gradient(135deg, #ebf8ff 0%, #ffffff 100%);
  
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  
  /* Spacing */
  --section-padding: 5rem 1rem;
  --container-max-width: 1200px;
  --content-max-width: 800px;
  --element-spacing: 2rem;
  --button-padding: 0.75rem 2rem;
  
  /* Border Radius */
  --border-radius: 8px;
  --border-radius-lg: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  /* color: var(--text-dark); */
  /* line-height: 1.6; */
}

.cta-button {
  background: var(--accent-blue);
  color: var(--text-white);
  padding: 16px 36px;
  border-radius: 12px;
  font-family: var(--font-alt);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  gap: 16px;
}

.cta-button:hover {
  background: #008bc7;
}

.text{
  font-family: var(--font-main);
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;

}


/* Pagination Dots */
.pagination-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #00bfff; /* Bright blue for the active dot */
}
