@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* App.css */
:root {
  --font-main: 'DM Sans', sans-serif;
  --font-alt: 'Inter', sans-serif;
  --font-caveat: 'Caveat', Caveat;
  /* Color Palette */
  --bg-primary: #FFFEFA;
  --bg-secondary: #0F1E48;
 
  /* text */
  --text-white: #ffffff;
  --text-color: #2A2A2A;
  --primary-blue: #032D60;

  --accent-blue: #00A0E3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
}


.text {
  font-family: var(--font-main);
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;

}


/* Pagination Dots */
.pagination-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #00bfff;
  /* Bright blue for the active dot */
}